*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
html{
    scroll-behavior: smooth;
    
}
.navbar{
    /* position: fixed; */
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 80px 16px 80px;
    margin: auto;
    font-family: arial;

}
.navbar.sticky{
    position: fixed;
    color: rgb(52, 50, 189);
    background-color: white;
    box-shadow: 0px 0px 5px 0px;
    /* padding: 15px 0; */
    transition: all 0.5s ease;
}
.navbar.sticky .logo p{
    color: rgb(52, 50, 189);
}
.navbar.sticky .nav li a{
    color: rgb(52, 50, 189);
}

.navbar .logo p{
    color: #fff;
    font-size: 35px;font-weight: 600;
}
.navbar .nav li{
    list-style: none;
    display: inline-block;
}

.navbar .nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-transform: capitalize;
}
.navbar .nav li a:hover{
    color: red;
    font-size: 1.4rem;
}
.toggle-btn{
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;

}
.toggle-btn i:hover{
    color:darkslateblue;
    font-size: 1.4rem;
}
.navbar.sticky .toggle-btn{
    color: rgb(52, 50, 189);
}


.testing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.678),rgba(0, 0, 0, 0.541)), url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    /* z-index: ; */
    
}
#home{
    font-family: arial;
    height: 100vh;
    text-align: center;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
#home h1{
    font-size: 4rem;
    padding-bottom: 20px;

}
#home>h3>span{
    font-size: 2.5rem;
    text-transform: capitalize;
    padding-top: 20px;
    letter-spacing: 3px;
    font-family: arial;
    font-weight: lighter;
}
#section1{
    padding: 70px 100px 30px 100px;
    background-color:rgb(238, 235, 235);
}
#about{
    display: flex;
    padding: 50px 0px;
    background-color: white;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border: none;
    
}
/* .about{
    border: 2px solid pink;
} */
#about div{
    max-width: 500px;

    
}
.name{
    display: flex;
    flex-direction: row;
    line-height: 40px;
    font-size: 17px;
    color: rgb(54, 48, 48);
    padding-right: 20px;
    
}
.moy{

    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin-top: 20px;
    justify-content: space-evenly;
    /* font-size: 20px; */
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(116, 108, 97);
    font-family: sans-serif;
    
}
.moy img{
    margin-bottom: 15px;

}
.aboutme h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.aboutme h2{
    background-color: rgba(10, 10, 240, 0.836);
    height: 3px;
    width: 100px;
    margin-bottom: 40px;
}
.aboutme p{
    line-height: 35px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(82, 77, 69);
}

#section2, #section4{
    padding: 30px 10px;
    background-color:rgb(238, 235, 235);
    text-align: center;
}
#section2>h1, #section4>h1{
    font-size: 45px;
    padding: 10px;
    text-transform: uppercase;
}
#section2>p, #section4>p{
    color: rgb(85, 81, 81);
    padding-bottom: 20px;
    font-size: 17px;
}
#section2>h2, #section4>h2{
    background-color: rgba(10, 10, 240, 0.836);
    height: 5px;
    width: 40px;
    margin: auto;
    margin-bottom: 40px;
}
.services{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}
.service-skill>img{
    border: 10px solid rgba(10, 10, 240, 0.836);
    border-radius: 70px;
    height: inherit;
    padding: 20px;
}
.service-skill>p{
    max-width: 350px;
    line-height: 25px;
}
.service-skill{
    background-color: white;
    padding: 50px;
    margin: 20px;
    max-width: 320px;
    border-radius: 20px;

}
.service-skill h3{
    text-transform: uppercase;
    font-size: 22px;
    color: rgb(41, 38, 38);
    padding: 10px 0px;
}
#section3{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 255, 0.507),rgba(0, 0, 255, 0.479)), url(../img/work-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    text-align: center;
    align-items: center;
}
#section3>.achievements{
    font-size: 20PX;
    color: white;

}
#section3>.achievements>i{
    border: 10px solid rgba(255, 255, 255, 0.671);
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 50px;
}
#section3>.achievements>h3{
    text-transform: capitalize;
    font-size: 18px;
}
#section3>.achievements>div{
    font-size: 40px;

}
#section4 .mini-section4{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#section4>.mini-section4>.mysites{
    background-color: white;
    margin: 20px 5px;

}
#section4>.mini-section4>.mysites>.design-names{
    padding: 20px 0;
}
.design-names>h4{
    font-size: 20px;
    color: rgb(59, 58, 58);
    text-transform: capitalize;
    padding-bottom: 10px;
}
.design-names>p>b{ 
    color: blue;
}
footer{
    padding: 50px 100px;
    background: linear-gradient(rgba(0, 0, 255, 0.507),rgba(0, 0, 255, 0.479)), url(../img/work-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}
footer .section5{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    padding: 10px 30px;
    
}
.heading{
    padding: 30px 10px 0px 10px;
}
footer .heading>h1{
    font-size: 25px;
    padding: 10px;
   
}
footer .heading>h2{
    background-color: rgba(10, 10, 240, 0.836);
    height: 3px;
    width: 100px;
    margin: 3px 10px;
    margin-bottom: 40px;
}

.contact p{
    max-width: 600px;
    color: rgb(85, 81, 81);
    padding-bottom: 20px;
    font-size: 20px;
    padding-left: 10px;
    line-height: 25px;
}
.footer-contact>span{
    display: flex;
    flex-flow: row wrap;
    padding: 5px 10px;
    
}
.footer-contact>span>i{
    color: blue;
    padding-inline-end: 20px;
    font-size: 20px;
}
.footer-contact>span>h4{
    color: rgb(85, 81, 81);
}
.footer-icons{
    display: flex;
    margin-top: 20px;
}
.footer-icons>a>i{
    font-size: 30px;
    padding: 10px;
    border: 3px solid blue;
    margin-right: 5px;
    border-radius: 50px;
    color:black;
}
footer .form{
    display: flex;
    flex-direction: column;
}
footer .form>.inputs{
    display: flex;
    flex-direction: column
}
footer input{
    padding: 10px;
    width: 500px;
    color: rgb(107, 103, 103);
    font-size: 18px;
    text-transform: capitalize;
    margin: 5px 10px 20px 10px;
    border-radius: 5px ;
    border:1px solid ;
    
}
footer textarea{
    width: 500px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}
footer button{
    margin: 20px;
    font-size: 18px;
    max-width: 120px;
    padding: 10px 20px;
    text-transform:capitalize;
    background-color: blue;
    color: white;
    border-radius: 20px;
    border: none;

}
.navup{
    bottom: 20px;
    font-size: 35px;
    width: min-content;
    position: fixed;
    right: 10px;

}
.navup i{
    color: rgb(66, 66, 88);
    text-decoration: none;
}
@media screen and (max-width: 800px){
    #home h1{
        font-size: 45px;
    }
    #home .auto-input{
        font-size: 30px;
        
    }
}
@media screen and (max-width: 600px){
    .navbar{
        justify-content: space-between;
        margin: none;

    }

    

    #home{
        padding-bottom: 100px;
    }
    #home h1{
        font-size: 40px;
        padding-top: 25px;
    }
    #home .auto-input{
        font-size: 25px;
        
    }
    #section1{
        padding: 40px 0px 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    } 
    #about{
        display: flex;
        padding: 50px 0px;
        justify-content: space-evenly;
        flex-direction: column;
        border: none;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 0px 2px 1px 0px;
        border-radius: 10px;
        
        
    }
    #about div{
        max-width: 450px;
       
        
    
        
    }
    .name{
        display: flex;
        flex-flow: row wrap;
        padding-right: 20px;
        padding-left: 20px;
        
    }
    .skills h4{
        padding: 10px 10px;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .moy{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;       
    }
    
    
    .aboutme{
        padding: 10px;
    }
    .aboutme h1{
        font-size: 25px;
    
    }
    .aboutme h2{
        width: 50px;
    }
    .aboutme p{
        line-height: 25px;
        font-size: 18px;
        max-width: 350px;
    }
    #section2, #section4{
        padding: 10px 20px;
        background-color:rgb(238, 235, 235);
        text-align: center;
    }
    #section4>.mini-section4>.mysites{
        margin: 20px;
    
    }
    footer{
        padding: 50px 20px;    
        
    }
    footer .section5{
        display: flex;
        flex-flow: row wrap;
        background-color: white;
        padding: 10px 30px;
        
    }
    footer input{
        max-width: 350px;
        font-size: 16px;
        
    }
    footer textarea{
        max-width: 350px;
        font-size: 16px;
    }

    
    
}
@media screen and (max-width: 420px){
    footer input{
        max-width: 290px;
        
    }
    footer textarea{
        max-width: 290px;
        
    }  
    .mysites>img{
        width: 300px;
    }
    
}

@media  only screen and (max-width: 850px){
    .navbar{
        padding: 20px 50px;
       
    }
    .toggle-btn{
        display: block;
        z-index: 999;
    }
    .navbar .nav{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: #111;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 80px;
        transition: all 0.3s ease;
    }
    .navbar .nav.active{
        left: 0;
    }
    .toggle-btn i.active::before{
        content: "\f00d"
    }
    .navbar .nav li{
        margin: 20px 0;
        font-size: 25px;
    }
    footer .section5{
        padding: 20px 10px;
    }

}
@media only screen and (max-width: 720px){
    
    
    .about{
        /* text-align: center; */
        padding: 30px;
        width: 380px;
        
    }
    .aboutme{
        padding: 0 50px;
        width: 380px;
    }
    
    footer input{
        width: 450px;
    }
    footer  textarea{
        width: 450px;
    }
    footer .section5{
        padding: 20px 10px;
    }
    

}